.card {
    padding: 20px;
    border: 0;
    
}
.dashboard-card{
    background-color: $secondary-color;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    i{
        font-size: 40px;
    }
}