.section-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-body-content{
    padding-top: 56px;
    .content-display{
        padding-left: 260px !important;
    }
}